:root {
  --color-primary: #000000;
  --color-on-primary: #e2e2e2;
  --color-primary-container: #3b3b3b;
  --color-on-primary-container: #ffffff;
  --color-secondary: #5e5e5e;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d4d4d4;
  --color-on-secondary-container: #1b1b1b;
  --color-tertiary: #3b3b3b;
  --color-on-tertiary: #e2e2e2;
  --color-tertiary-container: #747474;
  --color-on-tertiary-container: #ffffff;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #410002;
  --color-background: #f9f9f9;
  --color-on-background: #1b1b1b;
  --color-surface: #f9f9f9;
  --color-surface-dim: #dadada;
  --color-surface-bright: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;
  --color-on-surface: #1b1b1b;
  --color-surface-variant: #e2e2e2;
  --color-on-surface-variant: #474747;
  --color-outline: #777777;
  --color-outline-variant: #c6c6c6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #303030;
  --color-inverse-on-surface: #f1f1f1;
  --color-inverse-primary: #c6c6c6;
}
 
[data-theme="dark"] {
  --color-primary: #ffffff;
  --color-on-primary: #1b1b1b;
  --color-primary-container: #d4d4d4;
  --color-on-primary-container: #000000;
  --color-secondary: #c6c6c6;
  --color-on-secondary: #1b1b1b;
  --color-secondary-container: #474747;
  --color-on-secondary-container: #e2e2e2;
  --color-tertiary: #e2e2e2;
  --color-on-tertiary: #1b1b1b;
  --color-tertiary-container: #919191;
  --color-on-tertiary-container: #000000;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-background: #131313;
  --color-on-background: #e2e2e2;
  --color-surface: #131313;
  --color-surface-dim: #131313;
  --color-surface-bright: #393939;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1b1b1b;
  --color-surface-container: #1f1f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353535;
  --color-on-surface: #e2e2e2;
  --color-surface-variant: #474747;
  --color-on-surface-variant: #c6c6c6;
  --color-outline: #919191;
  --color-outline-variant: #474747;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #e2e2e2;
  --color-inverse-on-surface: #303030;
  --color-inverse-primary: #5e5e5e;
}
